<div class="genre-create-index">
  <h1>ジャンル一覧・追加</h1>
    <table class="genre-create">
     <tbody>
       <tr>
          <%= form_with model: @genre, url: '/admin/genres', method: :post do |f| %>
            <td>ジャンル名</td>
            <td><%= f.text_field :name %></td>
            <td><%= f.submit '新規登録' %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <table class="genre-index">
      <thead>
        <tr>
          <th>ジャンル</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
          <td><%= link_to "編集する", edit_admin_genre_path(genre.id) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>